form {
  width: 320px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}


h1{
  color: rgba(1, 43, 8, 0.75);
  text-align: center;
  font-size:larger;
}

p{
  text-align:center;
  
}
